@using _26_DynamicPropertiesViewModel.Models
@using _26_DynamicPropertiesViewModel.ViewModels
@model HomeVM


<h1>Home page</h1>

@* <h2>@TempData["Name"]</h2> *@

@{
	var data = Model;
}

<ul>
	@foreach (Student item in Model.Students)
	{
		<li>@item.Id, @item.Name, @item.Surname</li>
	}
</ul>

@{
	int count =0;
}
<table border="1">
	@foreach(Teacher teacher in Model.Teachers)
	{
		count++;
		<tr>
			<td>@count</td>
			<td>@teacher.Name</td>
			<td>@teacher.Salary</td>
		</tr>
	}
</table>